<div
  *ngIf="dataLoaded == false"
  class="spinner-grow text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
  <label for="filterText" class="form-label">Ürün ara</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="ifade giriniz..">
</div>

<div *ngIf="filterText.length>2" class="alert alert-success">
  {{filterText}} aradınız
</div>
<table *ngIf="dataLoaded == true" class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Ürün Adı</th>
      <th scope="col">Kategori</th>
      <th scope="col">Fiyat</th>
      <th>Kdv'li Fiyat</th>
      <th scope="col">Stok Miktarı</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

  
  <tr *ngFor="let item of products | filterPipe:filterText">
    <td>{{ item.productId }}</td>
    <td>{{ item.productName | uppercase }}</td>
    <td>{{ item.categoryId }}</td>
    <td>{{ item.unitPrice | currency }}</td>
    <td>{{ item.unitPrice | vatAdded: 18 | currency }}</td>
    <td>{{ item.unitsInStock }}</td>
    <td><button type="button"(click)="addToCart(item)" class="btn btn-success">Sepete Ekle</button></td>
  </tr>
</tbody>
</table>
